.dropdown-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.dropdown-area {
    flex-grow: 1;
    margin: 8px;
}

.dropdown-btn {
    width: 100%;
}

.dropdown-item{
    width: 100%;
}

.container {
    padding : 8px;
    display: flex; 
    justify-content: space-around;
}

.container section {
    width: 100%;
}

.attendance-table{
    margin: 8px
}

.stats-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}